* {
    box-sizing: border-box;
}

body {
   margin: 0;
   background: #121921;
   width: auto;
}

.nav-logo{
    height: 90px;
    width: 1000px;
    display: flex;
    position: static;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-repeat: repeat-x no-repeat;
    background-repeat: repeat-y no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #121921;
    color: #f8c367;
    font-family: Verdana, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 5px #887047;
    text-align: center;
}

h1 {
    font-family: 'lobster', cursive;
    background-color: transparent;
    color: #f8c367;
    box-shadow: 2px 2px 30px rgb(#fff);
    text-shadow: 2px 2px 5px #f8c367;
    height: 50px;
    width: 10px;
    display: flex;
    position: static;
    padding: 25px;
    padding-top: 5px;
    position: fixed;
    text-align: center;
    left: 12%;
    top: 12;
    
}

.container {
    width: 3510px;
    height: 100%;
    box-shadow: 2px 2px 30px rgb(253, 250, 250);
    top: 0px;
    left: 0px;
    background-color: #fff;
    color: #121921;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 102;
    border-radius: 5px;
    position: relative;
}

.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    font-size: 1rem;
    margin: 2px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
    
}

button {
    width: 25%;
    height: 45px;
    margin: 6px 0px;
    padding: 0px 10px;
    border: 2px solid rgb(4, 83, 4);
    background-color: rgb(16, 216, 16);
    color: black;
    border-radius: 7px;
}

.div, h3, p {
    width: 420px;
    padding: 20px 10px;
    background-color: black;
    color: #f8c367;
    box-shadow: 2px 2px 30px rgb(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    position: relative;
    
}

form {
    width: 505px;
    height: 10px;
    margin: 10px;
    padding-bottom: 19%;
    align-items: center;
    flex-direction: column;
    
}

